<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Resetear la contrasena del usuario</h4>
                <form class="form p-t-20">
                    <div class="form-group">
                        <label for="pwd1">Resetear contrasena</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" name="paswd1" id="paswd1" placeholder="enter the password again">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd2">Confirmar contrasena</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" name="paswd2" id="paswd2" placeholder="enter the password again">
                        </div>
                    </div>
                    <button (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button routerLink="/usuarios" type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>