<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Informacion de Usuario</h3>
            <p class="text-muted m-b-30 font-13"></p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate [formGroup]="forma1" (ngSubmit)="crearUsuario()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre De Usuario</label>
                            <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo Electronico</label>
                            <input formControlName="email" name="email" class="form-control" type="email" required placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input formControlName="password" name="password" class="form-control" type="password" required placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirmar Password</label>
                            <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="Confirmar contraseña">
                        </div>
                        <div class="form-group" *ngIf="forma1.errors?.matchPass && !forma1.pristine">
                            <p class="text-danger">Las Contraseñas deben de ser iguales</p>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="checkbox checkbox-primary p-t-0">
                                    <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup">Acepto todos las condiciones y <a href="#">terminos</a></label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>