<div [hidden]="showForm">
  <div class="row mb-3">
    <div class="button-group col-3">
      <button type="button" class="btn waves-effect waves-light btn-primary" (click)="create()">Crear</button>
    </div>

    <div class="form-group col-9 mb-0 text-right">
      <label for="search" class="mr-2">Buscar:</label>
      <input type="text" class="form-control col-8 col-lg-7 col-xl-6" id="search"
        (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </div>
  </div>

  <div class="border">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let element" class="img-cell">
          <img *ngIf="element.img" [src]="imgPath + element.img" class="logo-img">
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef width="115"> Actions </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button type="button" class="btn waves-effect waves-light btn-info ml-1" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="edit(element)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn waves-effect waves-light btn-danger ml-1" data-toggle="tooltip" data-placement="bottom" title="Eliminar" (click)="delete(element)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)" class="pointer row-hover">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  </div>
</div>


<app-form-empresa [(empresa)]="formEmpresa" (closeForm)="closeForm($event)" *ngIf="showForm"></app-form-empresa>
