@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.row-hover:hover {
    background: #edf0f5;
}
